@keyframes ldio-4vq2c5kykzp {
  0% {
    transform: scale(1.1500000000000001);
  }
  100% {
    transform: scale(1);
  }
}
.ldio-4vq2c5kykzp div {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 10.666666666666664px;
  left: 10.666666666666664px;
  background: #e15b64;
  animation: ldio-4vq2c5kykzp 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.3s;
}
.ldio-4vq2c5kykzp div:nth-child(2) {
  top: 10.666666666666664px;
  left: 55.33333333333333px;
  background: #f47e60;
  animation-delay: -0.2s;
}
.ldio-4vq2c5kykzp div:nth-child(3) {
  top: 55.33333333333333px;
  left: 10.666666666666664px;
  background: #abbd81;
  animation-delay: 0s;
}
.ldio-4vq2c5kykzp div:nth-child(4) {
  top: 55.33333333333333px;
  left: 55.33333333333333px;
  background: #f8b26a;
  animation-delay: -0.1s;
}
.loadingio-spinner-cube-cohbjq16y5 {
  width: 64px;
  height: 64px;
  display: block;
  overflow: hidden;
  background: #ffffff;
  margin: 0 auto;
}
.ldio-4vq2c5kykzp {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.64);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-4vq2c5kykzp div {
  box-sizing: content-box;
}
